# Configuration file

####################
# appeng
####################

appeng {
    ####################
    # options
    #===================
    # Options for Applied Energistics as a whole.
    # oreDepthModifier - This feature is deprecated, and will be removed in a future revision.
    ####################

    options {
        B:enableVersionChecker=true
        B:enableWorldGenQuartz=true
        I:ore.densityModifier=0
        I:ore.depthModifier=0
    }

    ####################
    # bcintegration
    ####################

    bcintegration {
        B:enableBCtoMEChipRecipe=false
        B:useBuildcraftChips=false
    }

    ####################
    # vesionchecker
    ####################

    vesionchecker {
        S:lastStarted=hh4iz1ba
    }

}


####################
# block
#===================
# BlockID's for blocks added by Applied Energistics ( these are not shifted. +256 for Ingame ).
####################

block {
    I:appeng.blockMulti=990
    I:appeng.blockMulti2=991
    I:appeng.blockWorld=992
}


####################
# features
#===================
# Enable / Disable AE Features.
####################

features {
    B:enableEntropyAcc=true
    B:enableGrinder=true
    B:enableSpaceClickMoving=true
    B:enableVibrationCata=true
}


####################
# graphics
#===================
# Adjust Visual quality of complicated rendering.
####################

graphics {
    B:gfxCableAnimation=true
    B:gfxDrivesHighDef=true
}


####################
# item
#===================
# ItemID's for items added by Applied Energistics.
####################

item {
    I:appeng.itemMulti=3290
    I:appeng.materialID=3291
    I:appeng.toolEntropyAccelerator=3292
    I:appeng.toolQuartzAxe=3293
    I:appeng.toolQuartzHoe=3294
    I:appeng.toolQuartzKnife=3295
    I:appeng.toolQuartzPick=3296
    I:appeng.toolQuartzShovel=3297
    I:appeng.toolQuartzSword=3298
    I:appeng.toolQuartzWrench=3299
    I:appeng.toolVibrationCatalyst=3230
}


####################
# logging
#===================
# Enable or disable various logging features, enabling logging features will create large logs.
####################

logging {
    B:enableLogging=false
    B:logCrafting=false
    B:logGrinderOres=false
    B:logPowerUsage=false
}


####################
# me
####################

me {
    ####################
    # options
    #===================
    # Options for Mass Energy Components.
    # largeDrives - This feature is deprecated, and will be removed in a future revision.
    ####################

    options {
        D:base.wireless.range=16.0
        B:largeDrives=false
        I:max.wireless.extenderBonus=1
        I:max.wireless.extenders=16
        D:powerUsageMultiplier=1.0
        B:requirePower=true
        B:terminalAutoSearch=true
        S:terminalSortBy=Name
        S:terminalSortDirection=ASC
        B:terminalUseLargeFont=false
        S:terminalViewItems=ALL
    }

}


