# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=49eb5158-fbe3-4aa2-8b7e-7761b4c190dc

    # Set to true to disable all reporting
    B:opt-out=false
}


